<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <!-- <div class="container"></div> -->
        <h1>hello</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias doloribus ipsa maxime quos odit aspernatur? Nam, aperiam totam. Sequi laborum dolore perspiciatis quod obcaecati recusandae eveniet molestias explicabo nam odio!</p>
    </div>
    <div class="h2">
        <h1>home</h1>
        

    </div>
    <div class="h1"> 
        <h1>HOME</h1>

    </div>
     <div class="container-1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolores voluptatum repudiandae atque natus sunt, recusandae unde a cupiditate reprehenderit blanditiis nam adipisci consequuntur ab assumenda accusantium dolor ullam. Minima.</p>

    </div>
    <div class="tablecontainer">
    <table>
        <tr>
            <th>sl no.</th>
            <th>Name</th>
            <th>place</th>
        </tr>
        <tr>
            <td>1</td>
            <td>allen</td>
            <td>tripunitura</td>

        </tr>
        <tr>
            <td>2</td>
            <td>arun</td>
            <td>kollam</td>
        </tr>
        <tr>
            <td>3</td>
            <td>obitha</td>
            <td>angamaly</td>
        </tr>
        <tr>
            <td>3</td>
            <td>obitha</td>
            <td>angamaly</td>
        </tr>
        <tr>
            <td>3</td>
            <td>obitha</td>
            <td>angamaly</td>
        </tr>
    </table>
     </div>


     <div>
        <h1>hello</h1>
        <p1>how are you </p1>
        <p>nice to meet you</p>
     </div>
     <h1>my name is khan</h1>
     <p>welcome</p>
     <p>to ooty</p>

     <div class="dropdown">
        <span>hover i</span>
        <div class="drop-content">
            <p>hi allen</p>
        </div>

     </div>
    <div class="dropbtn">
        <button>dropbox</button>
        <div class="dropdowncontent">
            <a href="#">link1</a>
            <a href="#">link2</a>
            <a href="#">link3</a>

        </div>

    </div> 
    <h1>counter us</h1> 
    <h2>HTML</h2>
    <h2>CSS</h2>
    <h2>JAVA SCRIPT</h2>
    <h2>PYTHON</h2>
   
     <a href="#">Google</a>
     <a href="#" target="_blank">Facebook</a>
     <a href="#" target="_top">Instagram</a>
     <br><br><br>
      <img src="/index html/static/img/photo-1604085572504-a392ddf0d86a.jpg" title="flower" width="250px" alt="">
      
      


</body>


</html>