<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index html/static/css/style3.css">
    <title>Document</title>

</head>
<body>
    <div class="newcol">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima odio dolores architecto, eligendi optio dolore expedita eum. Laudantium, fuga asperiores at reiciendis commodi et cupiditate mollitia sapiente, temporibus consequuntur molestiae!
        Necessitatibus ipsa ratione, tenetur repellat nostrum accusamus repudiandae fuga libero rerum quo qui, neque animi minus tempora mollitia dolorum hic! Et ullam fuga eligendi culpa, possimus minima porro molestias nam.
        A, libero. Ea natus quae fuga beatae hic quas commodi ullam et optio. Amet optio, nesciunt consequatur eum voluptates ipsum vero eos reprehenderit. Voluptatem quam vel fugiat itaque aliquam necessitatibus.
        Dolorem minus officiis, hic minima blanditiis velit aut dolores repudiandae quod deserunt officia quidem eos, nostrum voluptate. Corporis beatae, rem voluptatum, at culpa officia nostrum odit unde recusandae suscipit soluta!
        Obcaecati, consequuntur a illo deserunt, iste, quisquam voluptatem doloribus necessitatibus nobis ea corporis eligendi cumque officia nulla earum quibusdam natus at neque ratione? Cumque veritatis minima voluptatem quaerat labore tenetur.
        Voluptas obcaecati ullam beatae ducimus odio architecto eligendi laboriosam error vero dolorem minima eveniet impedit velit, officia adipisci, non perferendis consequatur. Consequuntur ipsa fugiat saepe sapiente illum, possimus doloremque vero!
        Repellendus aut ex minus assumenda, quidem cupiditate iusto natus. Modi dolore veniam, illum animi ipsam eius architecto qui, fugiat magni sit impedit blanditiis, corrupti et cupiditate laborum rem amet perspiciatis.
        Optio illum eum, labore reprehenderit dolorum sapiente! Neque, provident quidem, debitis nam praesentium sunt velit, magnam ratione harum perspiciatis odio esse quae labore cum accusantium quo? Nesciunt dolor nobis maiores?
        Neque sunt consequuntur eaque modi beatae, illum magni quis! Voluptate modi, hic dicta adipisci nulla reiciendis quia. Quibusdam cupiditate consectetur repudiandae voluptatem aperiam, facilis, maiores iste odit, nobis assumenda possimus!
        Earum eum voluptas natus nostrum ea numquam laboriosam pariatur totam nobis. Tempora tenetur quibusdam repellat labore commodi vero recusandae animi aspernatur, laudantium dolores blanditiis nobis impedit? Minima dolor saepe vero.
    </div>

    </div>

<div class="div 1">
    First class
    </div>

 <div class="div2">
    Second class

 </div>  
 <div class="topnav">
 <a href="#">Home</a>
<a href="#">Contact</a> 
</div>


    
</body>

</html>